@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
/*palheta #331859 #F2CE16 #D9AC25 #A67D32  #73523F */

body{
    background-color: #A67D32;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    background-color:#331859ec;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.541);
    border-radius: 10px;
    justify-content: center;
}
img{
    border-radius: 200px;
    max-width: 150px;
}
h1{
    color: #F2CE16;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.274);
}
input{
    margin-top: 15px;
    border: none;
    padding: 15px;
    width: 90%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.541);
    outline: none;
    font-size: 15px;
    
}
button{
    font-size: 18px;
    background-color: dodgerblue;
    color: white;
    border: none;
    margin-top: 15px;
    padding: 15px;
    width: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.541);
}
button:hover{
    background-color: deepskyblue;
    cursor: pointer;
}
hr{
    margin-top: 25px;
}
p{
    color: #F2CE16;
    margin: 10px;
    padding-top: 15px;
}
a{
    color: #F2CE16;
}
footer{
    text-align: center;
    font-size: 0.7em;
    margin-top: 50px;
    margin-bottom: -50px;
}